*{
	font-family: Arial;
    font-weight: lighter;
    word-spacing: 3px;
    letter-spacing: 2px;
    scroll-behavior: smooth;
	
}
html, body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;

}

.main-container{
	background-image: url('../img/back.jpg');
	z-index: -100;

	width: 100%;
	z-index: 9999999;
	height: 100%;
	display: table;
	padding-top: 30px;
	padding-bottom: 30px;
	justify-content: center;


}

.content{

    background-color: white;
    height: 100vh;
	width: 80vw;

    text-align: center;
    display: table;

    margin-left: 10%;
	margin-right: 10%;

}

#web, #techno{
	margin-left: 20px;
}

/*.main-container{
background-image: url('../img/back.jpg');
	background-position: center;
    overflow: hidden;
	

    z-index: -100;

    width: 100%;
    z-index: 9999999;
    display: table;
}

.content{
	width: 73%;
    display: table;

    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;

}
*/


.header{
	font-size: 20px;
	font-weight: 600;
}

.main-hr{
	width: 40%;
	height: 1px;
	background-color: grey;
	border: none;
}

#web, #techno{
	text-align: left;
	font-size: 20px;
}

ul, li{
	list-style: none;
}

.project-card{
	margin: 20px 30px;

    width: 250px;
    display: table;

    background-color: #999999;
    
}

.project-card:hover{
	opacity: 0.7;
}
.project-card p{
	z-index: 99999;
	color: white;
	text-align: left;
	padding: 7px;
	margin: 0;
}
.project-card img{
	width: 100%;
	border: 0.5px solid white;
	border-bottom: none;
}
a{
	text-decoration: none!important;
}

ul{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	list-style: none;

}
