
.wrapper {
	display: flex;
	width: 80vw;
	justify-content: center;
	align-items: center;
}


@media (min-width: 999px){
.img-box {
	flex-grow: 1;
	background-size: 750px 500px;
	background-position: center;
	background-repeat: no-repeat;
	transition: 1s;
	filter: grayscale(1);
}
.img-box:hover {
	background-size: 900px 600px;
	flex-grow: 5;
	filter: grayscale(0);
	opacity: 1;
}
.container-images {
	height: 500px;
	display: flex;
	border: 1px solid #d6d6d6;
	padding: 20px;
}
}

@media (max-width: 998px){
.img-box {
	flex-grow: 1;
	background-size: 300px 200px;
	background-position: center;
	background-repeat: no-repeat;
	transition: 1s;
	filter: grayscale(1);
}
.img-box:hover {
	background-size: 650px 433px;
	flex-grow: 5;
	filter: grayscale(0);
	opacity: 1;
}
.container-images {
	height:200px;
	display: flex;
	border: 1px solid #d6d6d6;
	padding: 20px;
}
}


 

.img-box:hover .bor-left-right::after,
.img-box:hover .bor-left-right::before,
.img-box:hover .bor-top-bottom::before,
.img-box:hover .bor-top-bottom::after {
	transition: 1s;
	opacity: .7;
	transition-delay: 0.3s;
}

.img-box:hover .bor-left-right::after {
	transform: translateY(-100%);
}
.img-box:hover .bor-left-right::before {
	transform: translateY(100%);
}
.img-box:hover .bor-top-bottom::before {
	transform: translateX(100%);
}
.img-box:hover .bor-top-bottom::after {
	transform: translateX(-100%);
}